<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

  <!-- Favicon for project site -->
  <link rel="icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">

  <!-- Minima stylesheet -->
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">

  <!-- Recipe stylesheet -->
  <link rel="stylesheet" href="{{ '/assets/recipe.css' | relative_url }}">

  {% seo %}

  {% if site.google_analytics_id %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){ dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', '{{ site.google_analytics_id }}', { 'anonymize_ip': true });
</script>
{% endif %}

</head>
